<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cudpast.arsiapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomapmarker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomapmarker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Servicio.Servicio03"></activity>
        <activity android:name=".Activities.Servicio.Servicio02" />
        <activity android:name=".Activities.Servicio.Servicio01" />
        <activity
            android:name=".Activities.BottomNavActivity"
            android:label="@string/title_activity_bottom_nav" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>